# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!Arkanoid/src/
!Arkanoid/test_breakout_pr.ncb
!Arkanoid/test_breakout_pr.sln
!Arkanoid/test_breakout_pr.vcproj
!Arkanoid/test_breakout_pr.vcproj.SuperPowah.Aktion.user
!phrophecysdk/include
!phrophecysdk/lib
!phrophecysdk/src
!phrophecysdk/txt
!Game.gif